.descricao-produto {
  padding: 30px 20px;
  max-width: 900px;
  margin: 0 auto;
}

.box-descricao {
  background: radial-gradient(circle at top left, rgba(255, 105, 180, 0.2), rgba(0, 0, 0, 0.6));
  border-radius: 12px;
  padding: 25px 30px;
  color: white;
  box-shadow: 0 0 20px rgba(255, 105, 180, 0.2);
}

.box-descricao h2 {
  color: #ff69b4;
  font-size: 1.6em;
  margin-bottom: 15px;
}

.accs-metodos {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 25px;
}

.accs-metodos li {
  margin-bottom: 8px;
  font-weight: 500;
}





.botoes-e-infos {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.botoes-compra {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.lateral-infos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(255,255,255,0.03);
  padding: 15px;
  border-radius: 12px;
  max-width: 250px;
}

.info-card {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.info-icon {
  font-size: 24px;
}

.info-text p {
  margin: 0;
  font-size: 0.9em;
  color: #ddd;
}

.info-text strong {
  display: block;
  margin-bottom: 5px;
  color: #ff69b4;
}

