.modal-termos.show {
  animation: zoomIn 0.3s ease;
}

.modal-termos {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0a0a0a;
  color: white;
  padding: 30px;
  border: 1px solid #333;
  border-radius: 15px;
  z-index: 9999;
  width: 260%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.2);
  overflow: hidden;
}

.termos-conteudo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  white-space: normal;
  overflow: auto;
  padding: 20px;
  background: rgba(255,255,255,0.05);
  border-radius: 8px;
}


.termos-conteudo > div {
  min-width: 350px;
  flex-shrink: 0;
}

.termos-conteudo h3 {
  color: #ff69b4;
  margin: 10px 0;
}

.termos-conteudo p {
  line-height: 1.6;
}

/* Botão Principal */
.botao-principal {
  background: linear-gradient(90deg, #ff69b4, #ff00aa);
  color: white;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}

/* botão */
.botao-principal::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: top 0.4s ease;
  z-index: 1;
}

.botao-principal:hover::before {
  top: 0;
}

.botao-principal:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0 2px #ff69b4;
}

/* Texto no botão sempre acima da animação */
.botao-principal span, .botao-principal {
  position: relative;
  z-index: 2;
}

/* scroll bar */
/* Scrollbar bonita */
::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 105, 180, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff69b4, #ff1493);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #ff1493, #ff69b4);
}
